E2E_BASE_URL=http://127.0.0.1:3000
E2E_BACKEND_URL=http://127.0.0.1:8080
E2E_MAILPIT_URL=http://127.0.0.1:8025

E2E_CUSTOMER_EMAIL=e2e.customer@gmail.com
E2E_CUSTOMER_PASSWORD=e2e-password-123
E2E_STAFF_EMAIL=e2e.staff@gmail.com
E2E_STAFF_PASSWORD=e2e-password-123
E2E_ADMIN_EMAIL=e2e.admin@gmail.com
E2E_ADMIN_PASSWORD=e2e-password-123
E2E_INACTIVE_EMAIL=e2e.inactive@gmail.com
